<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccess</key>
	<date>2014-10-19T17:28:23Z</date>
	<key>author</key>
	<string>Doomer</string>
	<key>bundleIdentifier</key>
	<string>com.yourcompany.DoomApp</string>
	<key>executable</key>
	<string>DoomApp</string>
	<key>external</key>
	<dict>
		<key>include</key>
		<array/>
		<key>lib</key>
		<array/>
	</dict>
	<key>frameworks</key>
	<array>
		<string>UIKit</string>
		<string>Foundation</string>
		<string>CoreGraphics</string>
	</array>
	<key>name</key>
	<string>DoomApp</string>
	<key>product</key>
	<string>DoomApp</string>
	<key>projectDevice</key>
	<string>iPhone/iPad</string>
	<key>projectType</key>
	<string>Application</string>
	<key>resources</key>
	<array>
		<dict>
			<key>folder</key>
			<false/>
			<key>name</key>
			<string>Info.plist</string>
		</dict>
	</array>
	<key>sourceFiles</key>
	<array>
		<dict>
			<key>folder</key>
			<false/>
			<key>name</key>
			<string>DoomAppAppDelegate.h</string>
		</dict>
		<dict>
			<key>folder</key>
			<false/>
			<key>name</key>
			<string>DoomAppAppDelegate.m</string>
		</dict>
		<dict>
			<key>folder</key>
			<false/>
			<key>name</key>
			<string>GridCell.h</string>
		</dict>
		<dict>
			<key>folder</key>
			<false/>
			<key>name</key>
			<string>GridCell.m</string>
		</dict>
		<dict>
			<key>folder</key>
			<false/>
			<key>name</key>
			<string>main.m</string>
		</dict>
		<dict>
			<key>folder</key>
			<false/>
			<key>name</key>
			<string>Proc.h</string>
		</dict>
		<dict>
			<key>folder</key>
			<false/>
			<key>name</key>
			<string>Proc.m</string>
		</dict>
		<dict>
			<key>folder</key>
			<false/>
			<key>name</key>
			<string>RootViewController.h</string>
		</dict>
		<dict>
			<key>folder</key>
			<false/>
			<key>name</key>
			<string>RootViewController.m</string>
		</dict>
	</array>
</dict>
</plist>
